* {
    padding: 0;
    margin: 0;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #32302f;
}
header {
    /*background-color: #32302f;*/
    background-color: #458588;
    color: white;
    height: 5vh;
    padding: 1vh;
    border:transparent;
}
footer {
    margin-top: 4vh;
    color: white;
    /*background-color: #32302f;*/
    background-color: #458588;
    height: 5vh;
    padding: 1vh;
    width: 100%;
}
footer ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 3px;
    background-color: #458588;
    font-size: 20px;
}
main {
    background-color: #32302f;
    height: 90vh;
    padding: 1vh;
}
.nav ul li {
    float: left;
    padding-right: 5%;
    padding-left: 5%;
    list-style-type: none;
}
.nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 3px;
    background-color: #458588;
    font-size: 20px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.container > div {
    background-color: red;
    margin: 1px;
    width: 4%;
    height: 4vh;
    padding: 5px;
}
embed {
    height: 100%;
}
.contents {
    color: white;
}
.contents a {
    color: white;
    text-decoration: none;
}
.contents ul li a {
    color: aliceblue;
    font-size: 22px;
}
