.code {
    background-color: #252222;
    margin: 20px;
    padding: 20px;
    outline-style: solid;
    color: white;
    border: thick;
    border-color: aliceblue;
    overflow: scroll;
    max-height: 70vh;
    min-height: 30vh;
    margin-right: auto;
    margin-left: auto;
    width: 75vw;
}
.code ul li {
    text-align: left;
}
.code {
    font-size: 20px;
}
