.post * {
    text-align: left;
    padding: 0;
}
.post {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  /*  width: 80rem;*/
}
.post ul li, .post ul li {
    list-style-type: square;
    text-align: left;
    list-style-position: inside;
}

/* @media (min-width: 640px) or (orientation: portrait) {
    .post {
        width: 40rem;
    }
    .post ul li {
        list-style-type: none;
    }
}
@media (min-width: 1250px) {
    .post {
        width: 80rem;
    }
}*/
